<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530930491344-rvtrhd29247mr0ch4q7f7lkjakrlvp6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530930491344-rvtrhd29247mr0ch4q7f7lkjakrlvp6g</string>
	<key>API_KEY</key>
	<string>AIzaSyC5aHX8mT0QC9Ig0qLFlZf8ZBT73KNPu08</string>
	<key>GCM_SENDER_ID</key>
	<string>530930491344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brauny.LoginAndCrud</string>
	<key>PROJECT_ID</key>
	<string>brauny-dc</string>
	<key>STORAGE_BUCKET</key>
	<string>brauny-dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530930491344:ios:e257d414ab908e4d5223d5</string>
</dict>
</plist>